/* General Styles */

@font-face {
    font-family: 'champagne';
    src: url('../fonts/champagne.ttf') format('truetype');
}

@font-face {
    font-family: 'libre';
    src: url('../fonts/JosefinSans-VariableFont_wght') format('truetype');
}

@font-face {
    font-family: 'tenor';
    src: url('../fonts/TenorSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'promenade';
    src: url('../fonts/BLUDHAVEN.ttf') format('truetype');
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Thin.ttf');
}
@font-face {
    font-family: 'lator';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'pinyon';
    src: url('../fonts/PinyonScript-Regular.ttf');
}
/** {
    outline: 1px solid red;
}0*

body {
    margin: 0;
    padding: 0;
    background-color: white;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
}
h1{
    color: #f0f0f0;
    font-family: 'promenade', sans-serif;
    font-weight: normal;
}
/* Títulos (H1, H2, H3, etc.) */
h3, h4, h5, h6 {
    font-family: 'lator', sans-serif;
    font-weight: normal;
    margin: 0 0 10px 0;
}
h2{
    font-family: 'lato', sans-serif;
    font-weight: normal;
    margin: 0;
    text-align: center; 
    padding-top: 10px;
}

/* Textos descriptivos (p, span, etc.) */
p, span {
    font-family: 'champagne', serif;
    font-size: 1.2rem;
    line-height: 1.6;
}
#nos-casamos{
    font-family: 'pinyon', sans-serif;
    font-size: 1.0rem;
    text-align: center;
    color: #f0f0f0;
}
nav {
    background-color: #f0f0f0;; /* Color de fondo del menú */
    border-bottom: 1px solid #ddd; /* Línea sutil debajo */
    padding: 10px 20px;
    position: relative;
    transition: transform 0.3s ease, top 0.3s ease;
}
nav.hidden {
    transform: translateY(-100%); /* Replegar hacia arriba */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
/* Estilo para los enlaces */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-family: 'champagne', sans-serif;
    transition: color 0.3s;
    text-align: center;
}

nav ul li a:hover {
    color: #f0f0f0d5;
}

/* Estilo para el menú */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; /* Espaciado entre los enlaces */
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #007bff; /* Color en hover */
}
/* Vista móvil: menú hamburguesa */
.menu-toggle {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: none;
    border: none;
    font-size: 24px; /* Tamaño del ícono */
    color: #333; /* Color del ícono */
    cursor: pointer;
}

/* Contenedor del logo */
.logo-container {
    flex: 1; /* Esto centra el logo */
    text-align: center;
}

.logo {
    max-height: 60px; /* Tamaño del logo */
}
.header {
    width: 100%;
    height: 100vh; /* Altura de la pantalla completa */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* Header */
.header-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-image {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto;
    object-fit: cover; /* La imagen se adapta a cubrir el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Se coloca detrás del texto */
}


.header-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.otroheader-text {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.header-text h1 {
    font-size: 2rem;
    margin: 0;
}

.header-text p {
    margin: 5px 0;
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Venue Section */
.venue {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2%;
}

.venue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.venue-column {
    flex: 1 1 45%;
    max-width: 45%;
    text-align: left;
    box-sizing: border-box;
    font-size: small;
}

.venue-column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.venue-column h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
}

.venue-column p {
    font-size: 1.2rem;
    line-height: 1.9;
}
.como-llegar {
    padding: 20px;
    padding-top: 0%;
    background-color: white;
    color: #333;
    text-align: center;
}
.como-llegar p{
    font-size: 1.2rem;
}


.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.map-item {
    flex: 1 1 calc(50% - 20px); /* Dos columnas con espacio entre ellas */
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-height: 500px; /* Altura mínima uniforme para todos los elementos */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.map-item p {
    font-size: 1.2rem;
    margin: 0 0 10px;
}

.map-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    margin-top: 15px;
    overflow: hidden;
}

.map-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.map-item li {
    font-family: 'champagne';
    margin: 0 0 10px;
    line-height: 1.5;
}


/* Botón de volver arriba */
.back-to-top {
    position: fixed;
    bottom: 20px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
    background-color: #f0f0f0; /* Fondo blanco */
    color: black; /* Color del texto (verde) */
    border: none;
    border-radius: 50%; /* Hace que sea redondo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para realce */
    padding: 15px; /* Tamaño del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
    display: none; /* Oculto inicialmente */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.back-to-top:hover {
    background-color: #c5c1c1; /* Fondo verde al pasar el ratón */
    color: black; /* Texto blanco */
    transform: scale(1.1); /* Ligera ampliación al pasar el ratón */
}

/* Mostrar el botón al hacer scroll */
.back-to-top.show {
    display: block; /* Muestra el botón cuando se agrega la clase */
    opacity: 1; /* Hace visible el botón */
    transform: translateY(0); /* Asegura que no se desplace */
}



/* Timeline Section */
.timeline-section {
    text-align: center;
    padding-top: 0%;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgb(204, 204, 204);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1
}

.timeline li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    position: relative;
    flex-wrap: wrap
}

.icon {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
}

.event {
    flex: 1;
    text-align: left;
    position: relative;
    margin-right: 20px;
}

.time {
    flex: 0 0 80px;
    text-align: center;
}

/* Countdown Section */
.countdown{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2%;
}


.countdown-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.countdown-item {
    text-align: center;
    font-size: 1.5rem;
}

.countdown-item span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70px;
}

.time-box span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6b705c;
}

.time-box p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

/* RSVP Section */
.rsvp {
    margin: 40px auto;
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

button {
    background-color: #f0f0f0;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0f0f0d5;;
}

/* Estilo para el botón "Confirma tu asistencia" */
.go-to-form {
    position: absolute; /* Posición relativa al contenedor #inicio */
    bottom: 20px; /* Separación desde la parte inferior del contenedor */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Ajuste para centrar completamente */
    background-color: #f0f0f0; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 30px; /* Borde redondeado */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Cambia el color al pasar el mouse */
.go-to-form:hover {
    background-color: #b1abab;
    transform: translateX(-50%) scale(1.05); /* Pequeño efecto de aumento */
}

/* Responsive Design */
@media (max-width: 768px) {


    .venue-container {
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
        gap: 10px;
    }

    .venue-column {
        flex: 1 1 45%;
        max-width: 45%;
    }
    .map-container {
        flex-direction: column; /* Cambia a diseño en columna */
        gap: 15px; /* Ajusta el espacio entre elementos */
    }

    .map-column {
        flex: 1 1 45%;
        max-width: 45%;
    }
    .map-item {
        flex: 1 1 100%; /* Ocupa todo el ancho del contenedor */
    }

    .map-responsive iframe {
        height: 250px; /* Aumenta la altura del mapa en móviles */
    }
    .logo-container {
        margin: 10px 0;
    }
    nav {
        display: none;
    }
    nav ul {
        display: none; /* Por defecto, el menú está oculto */
        flex-direction: column; 
        background-color: #f0f0f0;
        position: absolute;
        top: 50px; /* Debajo del encabezado */
        right: 0;
        width: 30%;
        padding: 0px;
        gap: 10px;
        border-radius: 10px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
        text-align: right;
    }
    .nav-container {
        flex-direction: column; /* Columnar en móvil */
        align-items: stretch;
    }

    /* Mostrar menú cuando tenga la clase "show" */
    nav ul.show {
        display: flex; /* Cambia de oculto a visible */
    }

    /* Mostrar el botón hamburguesa en móviles */
    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: #f0f0f0;
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 1100; /* Debe quedar sobre el menú desplegable */
    }
    .contacto p {
        font-size: 1.0rem;
    }
    .venue p {
        font-size: 1.0rem;
    }
    
    .map-item p {
        font-size: 1.0rem;
    }
    .codigo-vestimenta p{
        font-size: 1.0rem;
    }
    .codigo-vestimenta ul li{
        font-size: 1.2rem;
    }
    .numero-cuenta{
        font-size: 1.0rem;
    }

    .scroll-to-top {
        bottom: 15px;
        right: 15px;
        padding: 10px;
    }
    .go-to-form {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
      /* Menú móvil */
      #mobile-menu {
        font-family: 'lato';
        font-size: 1.1rem;
        display: none;
        position: fixed;
        top: 50px;
        right: 20px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 20px;
        border-radius: 8px;
        flex-direction: column;
        justify-content: center;
    }

    #mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #mobile-menu ul li {
        margin-bottom: 10px;
    }

    #mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: 600;
    }

    #mobile-menu {
        display: none; /* Sigue oculto hasta que se active */
    }
    #mobile-menu.show {
        display: block; /* Mostrar cuando se activa */
    }
    .header {
        height: auto; /* Permite que el contenido determine la altura */
    }

    .main-image {
        width: 100%; /* Ocupa el ancho del contenedor */
        height: auto; /* Mantiene las proporciones */
        object-fit: contain; /* Asegura que la imagen no se recorte */
    }

    .header-text {
        font-size: 2rem;
    }

    .otroheader-text {
        font-size: 1rem;
    }
}


/* Mobile adjustments */
@media (max-width: 480px) {
    .time-box {
        width: 50px;
        padding: 5px 8px;
    }

    .time-box span {
        font-size: 1.6rem;
    }

    .countdown-title {
        font-size: 1.3rem;
        margin-bottom: 8px;
    }
    .header-text {
        width: 60%;
    }
    .contacto p {
        font-size: 1.0rem;
    }
    .venue p {
        font-size: 1.0rem;
    }
}
@media (max-width: 400px) {
    nav ul {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-width: none; /* Elimina el límite máximo */
    }
}

#mobile-menu{
    display: none;
}
.codigo-vestimenta {
    text-align: center;
    padding: 30px 15px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 2%;
}
.codigo-vestimenta p{
    font-size: 1.2rem;
}


.codigo-vestimenta ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

.codigo-vestimenta ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

iframe {
    width: 100%; /* O ajusta a un valor fijo, como 600px */
    height: 100vh; /* Altura del viewport, ajusta según el contenido */
    border: none; /* Quita el borde para una apariencia limpia */
    display: block; /* Asegura que ocupe todo su contenedor */
    margin: 0 auto; /* Centra horizontalmente si es necesario */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}
.iframe-container {
    position: relative; /* Por si necesitas overlays o elementos absolutos */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Ajusta automáticamente según el iframe */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    padding: 0;
    margin: 0 auto;
}
iframe {
    overflow: auto; /* Habilita el scroll interno */
    -webkit-overflow-scrolling: touch; /* Suaviza el scroll en móviles */
}
form {
    max-width: 100%; /* Asegura que no exceda el ancho del iframe */
    margin: 0 auto; /* Centra el formulario */
    padding: 10px; /* Añade espacio interno */
    box-sizing: border-box; /* Incluye el padding en el tamaño */
}
.numero-cuenta {
    text-align: center;
    padding: 0px 15px;
    background-color: white;
    color: black;
}

.cuenta-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #6b705c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contacto {
    text-align: center;
    padding: 30px 15px;
    background-color:#f0f0f0; /* Fondo rosa claro */
    color: #6b705c;
    border-radius: 2%;
}


.contacto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contacto-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Para que se adapte bien en móviles */
}

.contacto-item {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #6b705c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    flex: 1;
}

.contacto-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.contacto-item p {
    font-size: 1.1rem;
    margin: 0;
}

.contacto-item a {
    text-decoration: none;
    color: #6b705c;
}

.contacto-item a:hover {
    color: #333;
}

.codigo-vestimenta {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
}

.codigo-vestimenta h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.codigo-vestimenta-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.codigo-vestimenta-card {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1 1 calc(45% - 20px); /* Adapta a dos columnas */
    max-width: 300px;
    text-align: left;
}

.codigo-vestimenta-card h3 {
    font-size: 22px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.codigo-vestimenta-card p {
    line-height: 1.6;
    color: #666;
    font-size: 16px;
}

.codigo-vestimenta-card strong {
    color: #c00;
}

.codigo-vestimenta-card em {
    font-style: italic;
    color: #444;
}

.women-card {
    border-left: 5px solid #ff7f7f;
}

.men-card {
    border-left: 5px solid #7faaff;
}

.form-error-message,
.form-line-error {
    display: none;
}

body.page-loaded .form-error-message,
body.page-loaded .form-line-error {
    display: block; /* Muestra el mensaje cuando sea necesario */
}

@media (min-width: 768px) {
    .header {
        height: 100vh; /* Ocupa toda la pantalla */
    }

    .main-image {
        height: 100%; /* La imagen ocupa toda la pantalla */
        width: auto; /* Mantiene la proporción original */
        object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    }
}
.formFooter{
    display: none !important; /* Oculta el elemento completamente */
}



